@import url('https://fonts.googleapis.com/css2?family=Allura&family=Lora:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&family=Lora:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1, h2, h3, p{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    /* font-weight: <weight>; */
    font-style: normal;
    color: orange;
}

/* Basic styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

/* Menu styles */
nav {
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    padding-left: 30px; padding-right: 30px;
    /* background-color: #333; */
    color: white;
    position: absolute;
    width: 100%;
}

nav ul {
    list-style: none;
    justify-content: center;
}

nav ul li {
    margin: 0 1rem;
    display: grid;
    align-items: center;
}

nav ul li a {
    text-decoration: none;
    color: orange;
    font-weight: bold;
    transition: color 0.3s;
    transition: all 0.5s;
    text-decoration: none; /* Remove default underline */
    position: relative; /* Necessary to position the pseudo-element */
}

.a-before:hover {
    color: #ff8527;
    transition: all 0.5s;
    left: 0; /* On hover, the underline moves to the left */
    width: 100%;
}

.a-before:before {
    content: "";
    position: absolute;
    bottom: -2px; /* Adjusts the position of the underline */
    height: 2px;
    background-color: #ff8527; /* Underline color */
    transition: all 0.3s ease-in-out; /* Animation on hover */
    width: 0;
}

a {
    text-decoration: none;
    color: orange;
    font-weight: bold;
    transition: color 0.3s;
    transition: all 0.5s;
    text-decoration: none; /* Remove default underline */
    position: relative; /* Necessary to position the pseudo-element */
}

.a-before:hover:before {
    width: 100%;
}

.content-a{
    position: relative;
}

/* Footer styles */
footer {
    background-color: #e9c99a;
    color: black;
    text-align: center;
    padding: 1rem 0;
    margin-top: auto;
}

/* Scroll bar style */
.scroll-box::-webkit-scrollbar {
    -webkit-appearance: none;
}

.scroll-box::-webkit-scrollbar:vertical {
    width:3px;
}

.scroll-box::-webkit-scrollbar-button:increment,.scroll-box::-webkit-scrollbar-button {
    display: none;
} 

.scroll-box::-webkit-scrollbar:horizontal {
    height: 10px;
}

.scroll-box::-webkit-scrollbar-thumb {
    background-color: orangered;
    border-radius: 100px;
    border: 2px solid transparent;
}

.scroll-box::-webkit-scrollbar-track {
    border-radius: 3px;  
}

body::-webkit-scrollbar {
    -webkit-appearance: none;
}

body::-webkit-scrollbar:vertical {
    width:3px;
}

body::-webkit-scrollbar-button:increment,body::-webkit-scrollbar-button {
    display: none;
} 

body::-webkit-scrollbar:horizontal {
    height: 3px;
}

body::-webkit-scrollbar-thumb {
    background-color: orangered;
    border-radius: 100px;
    border: 2px solid transparent;
}

body::-webkit-scrollbar-track {
    border-radius: 10px;  
}

/* Mobile first */
body {
    font-size: 16px;
    margin: 0;
}

.arrow-menu{
    opacity: 0;
}

.arrow-menu{
    position: absolute;
    top: 10%;
    right: 8%;
    transform: rotateZ(-20deg);
    pointer-events: none;
}

.primary-text-container{
    color: wheat;
    /* text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); */
    margin-left: 15px;
    padding-top: 8rem;padding-top: 8rem;
}

.primary-text-container p{
    margin-top: 20px;
    margin-right: 10px;
    color: #a3a3a3;
    /* width:50%; */
    font-weight: 300;
}

.phrase{
    max-width: 710px;
    margin-top: 60px;
    font-family: "Allura", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 7vh;
    color: orange;
    transform: rotateZ(5deg);
}

.content-page{
    position: relative;
    height: auto;
    bottom: 0;
    background: white;
    max-width: 1920px;
}

.recipes-container {
    display: grid;
    width: 100%;
    margin: 0 auto;
}

.recipe-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0;
    border-radius: 8px;
    min-height:4rem;
    /* padding: 4rem 0rem;*/
}

.recipe-content {
    display: grid;
    grid-template-rows: auto 1fr auto;
    align-items: center;
    padding: 1rem;
}

.recipe-title {
    margin: 0;
    font-size: 1.5rem;
}

.recipe-description {
    margin: 0;
    line-height: 1.6;
    color: #a3a3a3;
    font-style: italic;
}

.recipe-image {
    width: 100%;
    height: 100%; /* Make image container full height */
    border-radius: 4px;
    place-items: center;
}

.recipe-image img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.read-more {
    width: fit-content;
    padding: 0.5rem 1rem;
    background-color: orange;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-size: 0.875rem;
    transition: .1s;
}

.read-more:hover {
    /* transform: scale(1.05); */
    transition: .1s;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.read-more:hover:active {
    transform: scale(.95);
    background-color: wheat ;
    color: orange;
    transition: .1s;
}

.recipe-card:nth-child(odd) {
    background-color: #fff;
}

.recipe-card:nth-child(even) {
    background-color: #fff0e6;
}

.recipe-card:nth-child(even) .recipe-image {
    order: -1;
}

.content-end {
    justify-items: end;
    text-align: end;
}

.ingredients-contain h2 {
    color: rgba(0, 0, 0,.7);
}

.ingredients-contain p {
    font-family: "Allura", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    color: black;
}

.ingredients-contain {
    /* background-color: rgb(245, 232, 207); */
    padding: 2rem;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-auto-flow: row;
    background-size: 350px 350px; /* Makes the image smaller */
    background-image: url(../images/texture.png);   
    /* border-top: 5px solid rgb(226, 198, 147);
    border-bottom: 5px solid rgb(226, 198, 147); */
    background-color: #fff0e660;
}

.ingredients-box {
    display: grid;
    width: 100%;
    justify-content: space-around;
}

.content-banner {
    position: absolute;
    width: 100%;
    height: auto;
    z-index: -1;
}

.img-banner {
    width: 100%;
    display: block;
    position: relative;
    z-index: -1;
}

.banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, transparent, #ffffff);
}

hr {
    opacity: 0;
}

.ingredients-page {
    width: 100%; 
}

@media (max-width: 768px) {
    .recipe-card {
        grid-template-columns: 1fr;
    }

    .recipe-image {
        order: -1;
        height: 250px; /* Fixed height for mobile */
    }
}

.menu-mobile {
    display: block;
    width: 50px;
}

.menu-mobile-ul {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: orange;
    z-index: 9999;
    display: grid;
    grid-auto-flow: row;
    justify-items: start;
    padding: 20px;
    box-sizing: border-box;
    justify-content: start;
    align-items: end;
    font-size: 23px;
    display: none;
}

.menu-mobile-ul li {
    list-style: none;
    margin-bottom: 10px;
}

.menu-mobile-ul a {
    color: #fff; /* Text color */
    text-decoration: none;
}

.menu-pc {
    display: none;
}


.footer {
    background-color: #f5f0eb;
    color: #4A3425;
    padding: 48px 32px;
}
.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer-column {
    width: 22%;
    margin-bottom: 32px;
    text-align: start;
}
.footer-column h2 {
    font-size: 16px;
    margin-bottom: 16px;
}
.footer-column ul {
    list-style-type: none;
    padding: 0;
}
.footer-column ul li {
    margin-bottom: 8px;
}
.footer-column a {
    color: #4A3425;
    text-decoration: none;
}
.footer-logo-social {
    
    width: 22%;
    display: grid;
    grid-auto-flow: row;
    justify-items: center;
    border-left: 1px solid rgba(74, 52, 37, 0.2);
    padding-left: 32px; 
}
.footer-logo {
max-width: 60px;
margin-bottom: 24px;
border-radius: 100px;

}
.social-icons {
    gap: 16px;
}
.social-icons a {
    color: #4A3425;
}
.footer-bottom {
    margin-top: 32px;
    padding-top: 16px;
    border-top: 1px solid rgba(74, 52, 37, 0.2);
    text-align: center;
    font-size: 12px;
}
.footer-links {
    margin-top: 8px;
}
.footer-links a {
    color: #4A3425;
    text-decoration: none;
    margin: 0 8px;
}
.footer-links a:hover {
    text-decoration: underline;
}


/* styles.css */
.recipe-title {
    text-align: center;
    margin-bottom: 20px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin: 20px auto;
    max-width: 900px;
}

.gallery-item {
    text-align: center;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.gallery-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.gallery-title {
    margin-top: 10px;
    font-size: 1.2em;
}

.gallery-title a {
    color: #333;
    text-decoration: none;
}

.section-title{
    padding: 1rem;
}
.legal-card {
    padding: 20px;
    margin-bottom: 20px; /* Espaciado entre tarjetas */
    background-color: #f9f9f9; /* Fondo para resaltar */
    border: 1px solid #e0e0e0; /* Borde suave */
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}
.legal-card h2 {
    margin-bottom: 10px;
}
.legal-card p {
    margin-bottom: 15px;
}
.legal-card .content-a {
    text-align: right;
}
.legal-container{
    padding-top: 2rem;
}

@media (max-width: 768px) {
    .footer-column, .footer-logo-social {
        width: 100%;
        border-left: none;
        padding-left: 0;
        align-items: center;
    }
}

/* Tablet */
@media (min-width: 768px) {
    body {
        font-size: 18px;
    }

    .ingredients-page {
        width: 98%; 
    }

    .ingredients-box {
        display: grid;
        width: 90%;
        grid-auto-flow: column;
        justify-content: space-around;
    }
}

/* Laptop */
@media (min-width: 1024px) {
    body {
        font-size: 20px;
    }

    .arrow-menu {
        opacity: 1;
    }

    .arrow-menu {
        position: absolute;
        top: 10%;
        right: 8%;
        transform: rotateZ(-20deg);
        pointer-events: none;
    }

    .primary-text-container {
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
        margin-left: 30px;
    }

    .primary-text-container h1 {
        font-weight: 400;
    }

    .primary-text-container p {
        margin-top: 20px;
        color: #a3a3a3;
        width: 50%;
        font-weight: 300;
        color: white;

    }

    .phrase {
        max-width: 710px;
        margin-top: 60px;
        font-family: "Allura", cursive;
        font-weight: 400;
        font-style: normal;
        font-size: 7vh;
        color: white;
        transform: rotateZ(5deg);
    }

    .ingredients-page {
        width: 80%; 
    }

    .ingredients-box {
        display: grid;
        width: 100%;
        grid-auto-flow: column;
        justify-content: space-around;
    }

    .menu-mobile {
        display: none;
    }

    .menu-pc {
        display: grid;
        grid-auto-flow: column;
    }

    .recipe-content {
        padding: 5rem;
    }
}

/* Large desktop */
@media (min-width: 1440px) {
    body {
        font-size: 22px;
    }

    .arrow-menu {
        opacity: 1;
    }

    .arrow-menu {
        position: absolute;
        top: 10%;
        right: 8%;
        transform: rotateZ(-20deg);
        pointer-events: none;
    }

    .primary-text-container {
        color: wheat;
        margin-left: 30px;
    }

    .primary-text-container h1 {
        font-weight: 400;
    }

    .primary-text-container p {
        margin-top: 20px;
        /* color: #a3a3a3; */
        width: 50%;
        font-weight: 300;
    }

    .phrase {
        max-width: 710px;
        margin-top: 60px;
        font-family: "Allura", cursive;
        font-weight: 400;
        font-style: normal;
        font-size: 7vh;
        color: white;
        transform: rotateZ(5deg);
    }

    .ingredients-page {
        width: 65%; 
    }

    .ingredients-box {
        display: grid;
        width: 100%;
        grid-auto-flow: column;
        justify-content: space-around;
    }

    .menu-mobile {
        display: none;
    }
}


